@import "./hamburguer";
@import "./sidebar";

$body-bg-color: #dce4e3;
$green: #18c29c;
$light-green: #8ed7c6;
$light-grey: #dce4e3;
$text-color: #084236;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $body-bg-color;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}
main {
  display: flex;
  position: absolute;
  left: 78px;

  height: 100%;
  padding: 18px;
  transition: all 0.5s ease;

  section {
    width: calc(100% - 250px);
  }
}
aside#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 78px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: $green;

  transition: all 0.5s ease;

  nav {
    padding: 24px 12px;

    div#menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 24px;

      img {
        display: none;
        opacity: 0;
        margin-left: 15px;
        transition: all 0.4s ease;
      }
    }
    ul li.options {
      display: flex;
      align-items: center;
      cursor: pointer;

      padding: 14px;
      border-radius: 12px;
      list-style: none;

      a {
        opacity: 0;
        font-size: 15px;
        margin-left: 12px;
        transition: all 0.4s ease;
      }
      &.active {
        background-color: $light-green;
      }
    }
  }
  div#logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    background-color: $light-green;

    div#logout-info {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        opacity: 0;
        transition: all 0.4s ease;

        h2 {
          font-size: 15px;
          font-weight: 400;

          white-space: nowrap;
        }
        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    img.perfil {
      height: 45px;
      border-radius: 12px;
      margin-right: 10px;
    }
    img.icon {
      opacity: 0;
      transition: all 0.4s ease;
    }
  }
}
img.icon {
  height: 24px;
}
